body
{
   
    background:url("Images/overlay.png"),url("Images/pills.jpg");
    background-size: cover;
    
}

.label
{
    width: 400px;
    margin-top: 185px;
    margin-left: 590px;
}

h5
{
    font-family: serif;
    font-style: oblique;
    font-variant: small-caps;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 5px #33417e;
    margin-top: 15px;
    margin-left: -130px;
}

.button 
{
    margin-top: -20px;
    margin-left: 640px;
    background-color: white;
    border: 1px solid black;
    border-radius:10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:  yellowtail, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
    cursor: pointer;
    box-shadow: 5px 5px 5px #33417e;
}
  
.button:hover
{
    background-color: black;
    color: white;
}

ul 
{
    list-style-type: none;
    font-family:  yellowtail, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -120px;
    margin-left: 25px;
    padding:0;
    width: 250px;
    background-color: rgb(255,255,255,0.6);
    height: 70%;
    position: fixed;
    border: 5px solid;
    border-color:  rgb(255,255,255,0.4);
    border-radius: 25px;
    box-shadow:white ;
    
}
  
  li a 
{
    display: block;
    color: #000;
    padding: 8px 16px;
    margin-top:20px;
    text-decoration: none;
}

li a.active
{
    border-bottom: 3px solid;
    border-color:rgb(0,0,0,0.2) ;

}

  li a:hover:not(.active) {
    background-color: black;
     color: white;
  }
  