body
{
  background:url("../Images/overlay.png"),url("../Images/contact.jpg");
  background-size: cover;
  margin: 0px;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
li 
{
  float: left;
}
  
li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 45px;
  text-decoration: none;
  font-family:Pacifico, Satisfy ;
  font-size: 30px;
}
  
li a:hover:not(.active) 
{
  background-color: rgba(46, 224, 76, 0.575);     
  color: black
}
  
.active 
{
  background-color: rgba(46, 224, 76, 0.575);      
}

.active:hover
{
  color: black;
}

.section2
{
  height: 500px;
  width: 1365px;
  font-family:Pacifico;
  background-color: rgba(10, 10, 10, 0.356);
  padding: 38px 0px
}

.services
{
  margin-top: 55px;
  text-align: center;
  color: white;
}

.box 
{
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  justify-content: space-between;
  padding: 0px 16px ;
}

h1
{
  color: white; 
}

h2
{
  color: white;
  padding:2px;
}

.serviceLabel
{
  font-family: Georgia, 'Times New Roman', Times;
  font-style: italic;
  color: white;
  font-size: 18px;
}

.boxes
{
  border: 1px solid grey;
  background-color: rgba(143, 138, 138, 0.226);
  font-family: Georgia, 'Times New Roman', Times;
  font-style: italic;
  font-size: 10px;
  text-align: center;
  border-radius: 20px;
  padding-right: 50px;
  padding-left: 50px;
  height: 320px;
  width:260px;
  margin-left: 10px;
    
}

.serviceImg
{
  height:60px;
  width:60px;
}


